#tabs {
    overflow: auto;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 5;
    position: relative;
}

#tabs li {
    margin: 0;
    padding: 0;
    float: left;
}

#tabs a {
    box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    background: #101010;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    color: #555;
    float: left;
    font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
    height: 35px;
    padding: 0 30px;
    text-decoration: none;
}

#tabs a:hover {
    color: #CCC;
    background: #202020;
}

#tabs a:focus {
    outline: 0;
}

#tabs #current a {
    background: #202020;
    text-shadow: none;
    color: #fff;
}

#content {
    color: #999;
    background-color: #161616;
    background-image: linear-gradient(top, #202020, #252525);
    padding: 20px;
    z-index: 5;
    height: 100%;
    position: relative;
}